---
export interface Props {
  href: string;
  iconSet: string;
  icon: string;
  alt?: string;
  bgColor?: string;
  textColor?: string;
  size?: string;
  class?: string;
}

const {
  href,
  icon,
  alt,
  bgColor,
  textColor,
  iconSet,
  size,
  class: className,
} = Astro.props;
---

<a aria-label={alt} href={href} target="_blank">
  <i
    class={`fa-${iconSet} fa-${icon} ${bgColor ? `bg-[${bgColor}]` : ''} ${
      textColor ? `text-['${textColor}']` : ''
    } ${
      size ? `text-${size}` : ''
    } ${className} transition-all ease-in-out-expo shrink`}></i>
</a>
